In [2]:
import pandas as pd
import numpy as np

In [2]:
lst1=['a','b','c']
lst2=[1,2,3]
pd.Series(lst1)

0    a
1    b
2    c
dtype: object

In [3]:
lst1=['a','b','c']
lst2=[1,2,3]
pd.Series(lst2)

0    1
1    2
2    3
dtype: int64

In [5]:
lst1=['a','b','c']
lst2=[1,2,3]
pd.Series(lst1, index=lst2)             # index value have changed

1    a
2    b
3    c
dtype: object

In [3]:
lst1=['a','b','c']
lst2=[1,2,3]
arr=np.array(lst2)
pd.Series(lst1, index=lst2)

1    a
2    b
3    c
dtype: object

In [6]:
lst1=['a','b','c']
lst2=[1,2,3]
arr=np.array(lst2)
pd.Series(arr, index=lst1)

a    1
b    2
c    3
dtype: int32

In [15]:
lst1=['shivam','raja','Ashish']
lst2=[1,2,3]
arr=np.array(lst1)
pd.Series(arr, index=lst2)

1    shivam
2      raja
3    Ashish
dtype: object

In [16]:
#feel the difference
lst1=['shivam','raja','Ashish']
lst2=[1,2,3]
arr=np.array(lst2)
pd.Series(arr, index=lst1)             #interchanging the lists numbers

shivam    1
raja      2
Ashish    3
dtype: int32

# Operation

In [17]:
list=['a','b','c']
list

['a', 'b', 'c']

In [19]:
list_2=list*2
list_2                                   #here 2 is just a symbolic one

['a', 'b', 'c', 'a', 'b', 'c']

In [21]:
ser=pd.Series(list)
ser                                       #ser is just an indication, would work with any variable

0    a
1    b
2    c
dtype: object

In [22]:
#for example
Shivam=pd.Series(list)
Shivam

0    a
1    b
2    c
dtype: object

In [24]:
ser_var=ser*2
ser_var

0    aa
1    bb
2    cc
dtype: object

In [27]:
sl=pd.Series([1,2,3],('maths','english','physics'))
sl

maths      1
english    2
physics    3
dtype: int64

In [29]:
#another example
s2=pd.Series([1,2],['maths','hindi'])
s2                                            #s2 is indicative

maths    1
hindi    2
dtype: int64

In [31]:
sl+s2

english    NaN
hindi      NaN
maths      2.0
physics    NaN
dtype: float64

## Data Frames

In [36]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(3,3),['A','B','C'])           #Creates matrix of 3X3
df                                                  #stands here for data frame

          0         1         2
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168

In [37]:
np.random.seed(101)
df=pd.DataFrame(randn(3,3),['A','B','C'],['D','E','F'])           #feel the difference between DEF and 012
df

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168

In [39]:
df['F']                                                             #will pull out the F coloumn and print it

A    0.907969
B   -0.319318
C   -2.018168
Name: F, dtype: float64

In [40]:
type(df['D'])                                                        #tells whether it is a series or not

pandas.core.series.Series

In [41]:
type(df)

pandas.core.frame.DataFrame

In [43]:
df.head(2)                                         #fn which prints the value, we will get 2 rows of entire dataframe

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318

In [44]:
df.tail(1)                #when we just need the last row

          D         E         F
C -0.848077  0.605965 -2.018168

In [45]:
#operation for data cleaning or to find any null value

df.isnull().any()

D    False
E    False
F    False
dtype: bool

In [46]:
#drop any coloumn/row
df.drop('C')

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318

In [47]:
#for more we should always look to website